.cardContainer {
  margin-left: auto;
  margin-right: auto;
}
.memCard {
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
}

.pokeButton {
  margin: 20px 10px 20px 10px;
}

.col-sm-3 {
  margin: 0px;
  padding: 0px;
}

.row {
  width: 100%;
}

.container {
  width: 70%;
  margin-top: 100px;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
