p {
  text-align: center;
  color: white;
}

nav {
  background-color: #2d59a8;
}

.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  font-family: "Concert One", cursive;
}

.message {
  font-size: 24px;
}
